<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         backupGlobals="false"
         processIsolation="false"
         bootstrap="tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="VisitorsTest">
            <directory>./tests</directory>
            <exclude>./tests/vendor</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Resources/classes</directory>
        </whitelist>
	</filter>
</phpunit>
